//icon options

$icon-500px = true
$icon-address-book = true
$icon-address-book-o = true
$icon-address-card = true
$icon-address-card-o = true
$icon-adjust = true
$icon-adn = true
$icon-align-center = true
$icon-align-justify = true
$icon-align-left = true
$icon-align-right = true
$icon-amazon = true
$icon-ambulance = true
$icon-american-sign-language-interpreting = true
$icon-anchor = true
$icon-android = true
$icon-angellist = true
$icon-angle-double-down = true
$icon-angle-double-left = true
$icon-angle-double-right = true
$icon-angle-double-up = true
$icon-angle-down = true
$icon-angle-left = true
$icon-angle-right = true
$icon-angle-up = true
$icon-apple = true
$icon-archive = true
$icon-area-chart = true
$icon-arrow-circle-down = true
$icon-arrow-circle-left = true
$icon-arrow-circle-o-down = true
$icon-arrow-circle-o-left = true
$icon-arrow-circle-o-right = true
$icon-arrow-circle-o-up = true
$icon-arrow-circle-right = true
$icon-arrow-circle-up = true
$icon-arrow-down = true
$icon-arrow-left = true
$icon-arrow-right = true
$icon-arrow-up = true
$icon-arrows = true
$icon-arrows-alt = true
$icon-arrows-h = true
$icon-arrows-v = true
$icon-asl-interpreting = true
$icon-assistive-listening-systems = true
$icon-asterisk = true
$icon-at = true
$icon-audio-description = true
$icon-automobile = true
$icon-backward = true
$icon-balance-scale = true
$icon-ban = true
$icon-bandcamp = true
$icon-bank = true
$icon-bar-chart = true
$icon-bar-chart-o = true
$icon-barcode = true
$icon-bars = true
$icon-bath = true
$icon-bathtub = true
$icon-battery = true
$icon-battery-0 = true
$icon-battery-1 = true
$icon-battery-2 = true
$icon-battery-3 = true
$icon-battery-4 = true
$icon-battery-empty = true
$icon-battery-full = true
$icon-battery-half = true
$icon-battery-quarter = true
$icon-battery-three-quarters = true
$icon-bed = true
$icon-beer = true
$icon-behance = true
$icon-behance-square = true
$icon-bell = true
$icon-bell-o = true
$icon-bell-slash = true
$icon-bell-slash-o = true
$icon-bicycle = true
$icon-binoculars = true
$icon-birthday-cake = true
$icon-bitbucket = true
$icon-bitbucket-square = true
$icon-bitcoin = true
$icon-black-tie = true
$icon-blind = true
$icon-bluetooth = true
$icon-bluetooth-b = true
$icon-bold = true
$icon-bolt = true
$icon-bomb = true
$icon-book = true
$icon-bookmark = true
$icon-bookmark-o = true
$icon-braille = true
$icon-briefcase = true
$icon-btc = true
$icon-bug = true
$icon-building = true
$icon-building-o = true
$icon-bullhorn = true
$icon-bullseye = true
$icon-bus = true
$icon-buysellads = true
$icon-cab = true
$icon-calculator = true
$icon-calendar = true
$icon-calendar-check-o = true
$icon-calendar-minus-o = true
$icon-calendar-o = true
$icon-calendar-plus-o = true
$icon-calendar-times-o = true
$icon-camera = true
$icon-camera-retro = true
$icon-car = true
$icon-caret-down = true
$icon-caret-left = true
$icon-caret-right = true
$icon-caret-square-o-down = true
$icon-caret-square-o-left = true
$icon-caret-square-o-right = true
$icon-caret-square-o-up = true
$icon-caret-up = true
$icon-cart-arrow-down = true
$icon-cart-plus = true
$icon-cc = true
$icon-cc-amex = true
$icon-cc-diners-club = true
$icon-cc-discover = true
$icon-cc-jcb = true
$icon-cc-mastercard = true
$icon-cc-paypal = true
$icon-cc-stripe = true
$icon-cc-visa = true
$icon-certificate = true
$icon-chain = true
$icon-chain-broken = true
$icon-check = true
$icon-check-circle = true
$icon-check-circle-o = true
$icon-check-square = true
$icon-check-square-o = true
$icon-chevron-circle-down = true
$icon-chevron-circle-left = true
$icon-chevron-circle-right = true
$icon-chevron-circle-up = true
$icon-chevron-down = true
$icon-chevron-left = true
$icon-chevron-right = true
$icon-chevron-up = true
$icon-child = true
$icon-chrome = true
$icon-circle = true
$icon-circle-o = true
$icon-circle-o-notch = true
$icon-circle-thin = true
$icon-clipboard = true
$icon-clock-o = true
$icon-clone = true
$icon-close = true
$icon-cloud = true
$icon-cloud-download = true
$icon-cloud-upload = true
$icon-cny = true
$icon-code = true
$icon-code-fork = true
$icon-codepen = true
$icon-codiepie = true
$icon-coffee = true
$icon-cog = true
$icon-cogs = true
$icon-columns = true
$icon-comment = true
$icon-comment-o = true
$icon-commenting = true
$icon-commenting-o = true
$icon-comments = true
$icon-comments-o = true
$icon-compass = true
$icon-compress = true
$icon-connectdevelop = true
$icon-contao = true
$icon-copy = true
$icon-copyright = true
$icon-creative-commons = true
$icon-credit-card = true
$icon-credit-card-alt = true
$icon-crop = true
$icon-crosshairs = true
$icon-css3 = true
$icon-cube = true
$icon-cubes = true
$icon-cut = true
$icon-cutlery = true
$icon-dashboard = true
$icon-dashcube = true
$icon-database = true
$icon-deaf = true
$icon-deafness = true
$icon-dedent = true
$icon-delicious = true
$icon-desktop = true
$icon-deviantart = true
$icon-diamond = true
$icon-digg = true
$icon-dollar = true
$icon-dot-circle-o = true
$icon-download = true
$icon-dribbble = true
$icon-drivers-license = true
$icon-drivers-license-o = true
$icon-dropbox = true
$icon-drupal = true
$icon-edge = true
$icon-edit = true
$icon-eercast = true
$icon-eject = true
$icon-ellipsis-h = true
$icon-ellipsis-v = true
$icon-empire = true
$icon-envelope = true
$icon-envelope-o = true
$icon-envelope-open = true
$icon-envelope-open-o = true
$icon-envelope-square = true
$icon-envira = true
$icon-eraser = true
$icon-etsy = true
$icon-eur = true
$icon-euro = true
$icon-exchange = true
$icon-exclamation = true
$icon-exclamation-circle = true
$icon-exclamation-triangle = true
$icon-expand = true
$icon-expeditedssl = true
$icon-external-link = true
$icon-external-link-square = true
$icon-eye = true
$icon-eye-slash = true
$icon-eyedropper = true
$icon-fa = true
$icon-facebook = true
$icon-facebook-f = true
$icon-facebook-official = true
$icon-facebook-square = true
$icon-fast-backward = true
$icon-fast-forward = true
$icon-fax = true
$icon-feed = true
$icon-female = true
$icon-fighter-jet = true
$icon-file = true
$icon-file-archive-o = true
$icon-file-audio-o = true
$icon-file-code-o = true
$icon-file-excel-o = true
$icon-file-image-o = true
$icon-file-movie-o = true
$icon-file-o = true
$icon-file-pdf-o = true
$icon-file-photo-o = true
$icon-file-picture-o = true
$icon-file-powerpoint-o = true
$icon-file-sound-o = true
$icon-file-text = true
$icon-file-text-o = true
$icon-file-video-o = true
$icon-file-word-o = true
$icon-file-zip-o = true
$icon-files-o = true
$icon-film = true
$icon-filter = true
$icon-fire = true
$icon-fire-extinguisher = true
$icon-firefox = true
$icon-first-order = true
$icon-flag = true
$icon-flag-checkered = true
$icon-flag-o = true
$icon-flash = true
$icon-flask = true
$icon-flickr = true
$icon-floppy-o = true
$icon-folder = true
$icon-folder-o = true
$icon-folder-open = true
$icon-folder-open-o = true
$icon-font = true
$icon-font-awesome = true
$icon-fonticons = true
$icon-fort-awesome = true
$icon-forumbee = true
$icon-forward = true
$icon-foursquare = true
$icon-free-code-camp = true
$icon-frown-o = true
$icon-futbol-o = true
$icon-gamepad = true
$icon-gavel = true
$icon-gbp = true
$icon-ge = true
$icon-gear = true
$icon-gears = true
$icon-genderless = true
$icon-get-pocket = true
$icon-gg = true
$icon-gg-circle = true
$icon-gift = true
$icon-git = true
$icon-git-square = true
$icon-github = true
$icon-github-alt = true
$icon-github-square = true
$icon-gitlab = true
$icon-gittip = true
$icon-glass = true
$icon-glide = true
$icon-glide-g = true
$icon-globe = true
$icon-google = true
$icon-google-plus = true
$icon-google-plus-circle = true
$icon-google-plus-official = true
$icon-google-plus-square = true
$icon-google-wallet = true
$icon-graduation-cap = true
$icon-gratipay = true
$icon-grav = true
$icon-group = true
$icon-h-square = true
$icon-hacker-news = true
$icon-hand-grab-o = true
$icon-hand-lizard-o = true
$icon-hand-o-down = true
$icon-hand-o-left = true
$icon-hand-o-right = true
$icon-hand-o-up = true
$icon-hand-paper-o = true
$icon-hand-peace-o = true
$icon-hand-pointer-o = true
$icon-hand-rock-o = true
$icon-hand-scissors-o = true
$icon-hand-spock-o = true
$icon-hand-stop-o = true
$icon-handshake-o = true
$icon-hard-of-hearing = true
$icon-hashtag = true
$icon-hdd-o = true
$icon-header = true
$icon-headphones = true
$icon-heart = true
$icon-heart-o = true
$icon-heartbeat = true
$icon-history = true
$icon-home = true
$icon-hospital-o = true
$icon-hotel = true
$icon-hourglass = true
$icon-hourglass-1 = true
$icon-hourglass-2 = true
$icon-hourglass-3 = true
$icon-hourglass-end = true
$icon-hourglass-half = true
$icon-hourglass-o = true
$icon-hourglass-start = true
$icon-houzz = true
$icon-html5 = true
$icon-i-cursor = true
$icon-id-badge = true
$icon-id-card = true
$icon-id-card-o = true
$icon-ils = true
$icon-image = true
$icon-imdb = true
$icon-inbox = true
$icon-indent = true
$icon-industry = true
$icon-info = true
$icon-info-circle = true
$icon-inr = true
$icon-instagram = true
$icon-institution = true
$icon-internet-explorer = true
$icon-intersex = true
$icon-ioxhost = true
$icon-italic = true
$icon-joomla = true
$icon-jpy = true
$icon-jsfiddle = true
$icon-key = true
$icon-keyboard-o = true
$icon-krw = true
$icon-language = true
$icon-laptop = true
$icon-lastfm = true
$icon-lastfm-square = true
$icon-leaf = true
$icon-leanpub = true
$icon-legal = true
$icon-lemon-o = true
$icon-level-down = true
$icon-level-up = true
$icon-life-bouy = true
$icon-life-buoy = true
$icon-life-ring = true
$icon-life-saver = true
$icon-lightbulb-o = true
$icon-line-chart = true
$icon-link = true
$icon-linkedin = true
$icon-linkedin-square = true
$icon-linode = true
$icon-linux = true
$icon-list = true
$icon-list-alt = true
$icon-list-ol = true
$icon-list-ul = true
$icon-location-arrow = true
$icon-lock = true
$icon-long-arrow-down = true
$icon-long-arrow-left = true
$icon-long-arrow-right = true
$icon-long-arrow-up = true
$icon-low-vision = true
$icon-magic = true
$icon-magnet = true
$icon-mail-forward = true
$icon-mail-reply = true
$icon-mail-reply-all = true
$icon-male = true
$icon-map = true
$icon-map-marker = true
$icon-map-o = true
$icon-map-pin = true
$icon-map-signs = true
$icon-mars = true
$icon-mars-double = true
$icon-mars-stroke = true
$icon-mars-stroke-h = true
$icon-mars-stroke-v = true
$icon-maxcdn = true
$icon-meanpath = true
$icon-medium = true
$icon-medkit = true
$icon-meetup = true
$icon-meh-o = true
$icon-mercury = true
$icon-microchip = true
$icon-microphone = true
$icon-microphone-slash = true
$icon-minus = true
$icon-minus-circle = true
$icon-minus-square = true
$icon-minus-square-o = true
$icon-mixcloud = true
$icon-mobile = true
$icon-mobile-phone = true
$icon-modx = true
$icon-money = true
$icon-moon-o = true
$icon-mortar-board = true
$icon-motorcycle = true
$icon-mouse-pointer = true
$icon-music = true
$icon-navicon = true
$icon-neuter = true
$icon-newspaper-o = true
$icon-object-group = true
$icon-object-ungroup = true
$icon-odnoklassniki = true
$icon-odnoklassniki-square = true
$icon-opencart = true
$icon-openid = true
$icon-opera = true
$icon-optin-monster = true
$icon-outdent = true
$icon-pagelines = true
$icon-paint-brush = true
$icon-paper-plane = true
$icon-paper-plane-o = true
$icon-paperclip = true
$icon-paragraph = true
$icon-paste = true
$icon-pause = true
$icon-pause-circle = true
$icon-pause-circle-o = true
$icon-paw = true
$icon-paypal = true
$icon-pencil = true
$icon-pencil-square = true
$icon-pencil-square-o = true
$icon-percent = true
$icon-phone = true
$icon-phone-square = true
$icon-photo = true
$icon-picture-o = true
$icon-pie-chart = true
$icon-pied-piper = true
$icon-pied-piper-alt = true
$icon-pied-piper-pp = true
$icon-pinterest = true
$icon-pinterest-p = true
$icon-pinterest-square = true
$icon-plane = true
$icon-play = true
$icon-play-circle = true
$icon-play-circle-o = true
$icon-plug = true
$icon-plus = true
$icon-plus-circle = true
$icon-plus-square = true
$icon-plus-square-o = true
$icon-podcast = true
$icon-power-off = true
$icon-print = true
$icon-product-hunt = true
$icon-puzzle-piece = true
$icon-qq = true
$icon-qrcode = true
$icon-question = true
$icon-question-circle = true
$icon-question-circle-o = true
$icon-quora = true
$icon-quote-left = true
$icon-quote-right = true
$icon-ra = true
$icon-random = true
$icon-ravelry = true
$icon-rebel = true
$icon-recycle = true
$icon-reddit = true
$icon-reddit-alien = true
$icon-reddit-square = true
$icon-refresh = true
$icon-registered = true
$icon-remove = true
$icon-renren = true
$icon-reorder = true
$icon-repeat = true
$icon-reply = true
$icon-reply-all = true
$icon-resistance = true
$icon-retweet = true
$icon-rmb = true
$icon-road = true
$icon-rocket = true
$icon-rotate-left = true
$icon-rotate-right = true
$icon-rouble = true
$icon-rss = true
$icon-rss-square = true
$icon-rub = true
$icon-ruble = true
$icon-rupee = true
$icon-s15 = true
$icon-safari = true
$icon-save = true
$icon-scissors = true
$icon-scribd = true
$icon-search = true
$icon-search-minus = true
$icon-search-plus = true
$icon-sellsy = true
$icon-send = true
$icon-send-o = true
$icon-server = true
$icon-share = true
$icon-share-alt = true
$icon-share-alt-square = true
$icon-share-square = true
$icon-share-square-o = true
$icon-shekel = true
$icon-sheqel = true
$icon-shield = true
$icon-ship = true
$icon-shirtsinbulk = true
$icon-shopping-bag = true
$icon-shopping-basket = true
$icon-shopping-cart = true
$icon-shower = true
$icon-sign-in = true
$icon-sign-language = true
$icon-sign-out = true
$icon-signal = true
$icon-signing = true
$icon-simplybuilt = true
$icon-sitemap = true
$icon-skyatlas = true
$icon-skype = true
$icon-slack = true
$icon-sliders = true
$icon-slideshare = true
$icon-smile-o = true
$icon-snapchat = true
$icon-snapchat-ghost = true
$icon-snapchat-square = true
$icon-snowflake-o = true
$icon-soccer-ball-o = true
$icon-sort = true
$icon-sort-alpha-asc = true
$icon-sort-alpha-desc = true
$icon-sort-amount-asc = true
$icon-sort-amount-desc = true
$icon-sort-asc = true
$icon-sort-desc = true
$icon-sort-down = true
$icon-sort-numeric-asc = true
$icon-sort-numeric-desc = true
$icon-sort-up = true
$icon-soundcloud = true
$icon-space-shuttle = true
$icon-spinner = true
$icon-spoon = true
$icon-spotify = true
$icon-square = true
$icon-square-o = true
$icon-stack-exchange = true
$icon-stack-overflow = true
$icon-star = true
$icon-star-half = true
$icon-star-half-empty = true
$icon-star-half-full = true
$icon-star-half-o = true
$icon-star-o = true
$icon-steam = true
$icon-steam-square = true
$icon-step-backward = true
$icon-step-forward = true
$icon-stethoscope = true
$icon-sticky-note = true
$icon-sticky-note-o = true
$icon-stop = true
$icon-stop-circle = true
$icon-stop-circle-o = true
$icon-street-view = true
$icon-strikethrough = true
$icon-stumbleupon = true
$icon-stumbleupon-circle = true
$icon-subscript = true
$icon-subway = true
$icon-suitcase = true
$icon-sun-o = true
$icon-superpowers = true
$icon-superscript = true
$icon-support = true
$icon-table = true
$icon-tablet = true
$icon-tachometer = true
$icon-tag = true
$icon-tags = true
$icon-tasks = true
$icon-taxi = true
$icon-telegram = true
$icon-television = true
$icon-tencent-weibo = true
$icon-terminal = true
$icon-text-height = true
$icon-text-width = true
$icon-th = true
$icon-th-large = true
$icon-th-list = true
$icon-themeisle = true
$icon-thermometer = true
$icon-thermometer-0 = true
$icon-thermometer-1 = true
$icon-thermometer-2 = true
$icon-thermometer-3 = true
$icon-thermometer-4 = true
$icon-thermometer-empty = true
$icon-thermometer-full = true
$icon-thermometer-half = true
$icon-thermometer-quarter = true
$icon-thermometer-three-quarters = true
$icon-thumb-tack = true
$icon-thumbs-down = true
$icon-thumbs-o-down = true
$icon-thumbs-o-up = true
$icon-thumbs-up = true
$icon-ticket = true
$icon-times = true
$icon-times-circle = true
$icon-times-circle-o = true
$icon-times-rectangle = true
$icon-times-rectangle-o = true
$icon-tint = true
$icon-toggle-down = true
$icon-toggle-left = true
$icon-toggle-off = true
$icon-toggle-on = true
$icon-toggle-right = true
$icon-toggle-up = true
$icon-trademark = true
$icon-train = true
$icon-transgender = true
$icon-transgender-alt = true
$icon-trash = true
$icon-trash-o = true
$icon-tree = true
$icon-trello = true
$icon-tripadvisor = true
$icon-trophy = true
$icon-truck = true
$icon-try = true
$icon-tty = true
$icon-tumblr = true
$icon-tumblr-square = true
$icon-turkish-lira = true
$icon-tv = true
$icon-twitch = true
$icon-twitter = true
$icon-twitter-square = true
$icon-umbrella = true
$icon-underline = true
$icon-undo = true
$icon-universal-access = true
$icon-university = true
$icon-unlink = true
$icon-unlock = true
$icon-unlock-alt = true
$icon-unsorted = true
$icon-upload = true
$icon-usb = true
$icon-usd = true
$icon-user = true
$icon-user-circle = true
$icon-user-circle-o = true
$icon-user-md = true
$icon-user-o = true
$icon-user-plus = true
$icon-user-secret = true
$icon-user-times = true
$icon-users = true
$icon-vcard = true
$icon-vcard-o = true
$icon-venus = true
$icon-venus-double = true
$icon-venus-mars = true
$icon-viacoin = true
$icon-viadeo = true
$icon-viadeo-square = true
$icon-video-camera = true
$icon-vimeo = true
$icon-vimeo-square = true
$icon-vine = true
$icon-vk = true
$icon-volume-control-phone = true
$icon-volume-down = true
$icon-volume-off = true
$icon-volume-up = true
$icon-warning = true
$icon-wechat = true
$icon-weibo = true
$icon-weixin = true
$icon-whatsapp = true
$icon-wheelchair = true
$icon-wheelchair-alt = true
$icon-wifi = true
$icon-wikipedia-w = true
$icon-window-close = true
$icon-window-close-o = true
$icon-window-maximize = true
$icon-window-minimize = true
$icon-window-restore = true
$icon-windows = true
$icon-won = true
$icon-wordpress = true
$icon-wpbeginner = true
$icon-wpexplorer = true
$icon-wpforms = true
$icon-wrench = true
$icon-xing = true
$icon-xing-square = true
$icon-y-combinator = true
$icon-y-combinator-square = true
$icon-yahoo = true
$icon-yc = true
$icon-yc-square = true
$icon-yelp = true
$icon-yen = true
$icon-yoast = true
$icon-youtube = true
$icon-youtube-play = true
$icon-youtube-square = true