//Font Awesome 4.7.0

@import 'config'
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/path'
@import 'includes/core'
@import 'includes/larger'
@import 'includes/fixed-width'
@import 'includes/list'
@import 'includes/bordered-pulled'
@import 'includes/animated'
@import 'includes/rotated-flipped'
@import 'includes/stacked'
@import 'includes/icons'
@import 'includes/screen-reader'
