if $icon-glass
    .{$fa-css-prefix}-glass:before
      content: $fa-var-glass

if $icon-music
    .{$fa-css-prefix}-music:before
      content: $fa-var-music

if $icon-search
    .{$fa-css-prefix}-search:before
      content: $fa-var-search

if $icon-envelope-o
    .{$fa-css-prefix}-envelope-o:before
      content: $fa-var-envelope-o

if $icon-heart
    .{$fa-css-prefix}-heart:before
      content: $fa-var-heart

if $icon-star
    .{$fa-css-prefix}-star:before
      content: $fa-var-star

if $icon-star-o
    .{$fa-css-prefix}-star-o:before
      content: $fa-var-star-o

if $icon-user
    .{$fa-css-prefix}-user:before
      content: $fa-var-user

if $icon-film
    .{$fa-css-prefix}-film:before
      content: $fa-var-film

if $icon-th-large
    .{$fa-css-prefix}-th-large:before
      content: $fa-var-th-large

if $icon-th
    .{$fa-css-prefix}-th:before
      content: $fa-var-th

if $icon-th-list
    .{$fa-css-prefix}-th-list:before
      content: $fa-var-th-list

if $icon-check
    .{$fa-css-prefix}-check:before
      content: $fa-var-check

if $icon-times or $icon-remove
    .{$fa-css-prefix}-remove:before
      content: $fa-var-times

if $icon-search-plus
    .{$fa-css-prefix}-search-plus:before
      content: $fa-var-search-plus

if $icon-search-minus
    .{$fa-css-prefix}-search-minus:before
      content: $fa-var-search-minus

if $icon-power-off
    .{$fa-css-prefix}-power-off:before
      content: $fa-var-power-off

if $icon-signal
    .{$fa-css-prefix}-signal:before
      content: $fa-var-signal

if $icon-cog or $icon-gear
    .{$fa-css-prefix}-gear:before
      content: $fa-var-cog

if $icon-trash-o
    .{$fa-css-prefix}-trash-o:before
      content: $fa-var-trash-o

if $icon-home
    .{$fa-css-prefix}-home:before
      content: $fa-var-home

if $icon-file-o
    .{$fa-css-prefix}-file-o:before
      content: $fa-var-file-o

if $icon-clock-o
    .{$fa-css-prefix}-clock-o:before
      content: $fa-var-clock-o

if $icon-road
    .{$fa-css-prefix}-road:before
      content: $fa-var-road

if $icon-download
    .{$fa-css-prefix}-download:before
      content: $fa-var-download

if $icon-arrow-circle-o-down
    .{$fa-css-prefix}-arrow-circle-o-down:before
      content: $fa-var-arrow-circle-o-down

if $icon-arrow-circle-o-up
    .{$fa-css-prefix}-arrow-circle-o-up:before
      content: $fa-var-arrow-circle-o-up

if $icon-inbox
    .{$fa-css-prefix}-inbox:before
      content: $fa-var-inbox

if $icon-play-circle-o
    .{$fa-css-prefix}-play-circle-o:before
      content: $fa-var-play-circle-o

if $icon-repeat or $icon-rotate-right
    .{$fa-css-prefix}-rotate-right:before
      content: $fa-var-repeat

if $icon-refresh
    .{$fa-css-prefix}-refresh:before
      content: $fa-var-refresh

if $icon-list-alt
    .{$fa-css-prefix}-list-alt:before
      content: $fa-var-list-alt

if $icon-lock
    .{$fa-css-prefix}-lock:before
      content: $fa-var-lock

if $icon-flag
    .{$fa-css-prefix}-flag:before
      content: $fa-var-flag

if $icon-headphones
    .{$fa-css-prefix}-headphones:before
      content: $fa-var-headphones

if $icon-volume-off
    .{$fa-css-prefix}-volume-off:before
      content: $fa-var-volume-off

if $icon-volume-down
    .{$fa-css-prefix}-volume-down:before
      content: $fa-var-volume-down

if $icon-volume-up
    .{$fa-css-prefix}-volume-up:before
      content: $fa-var-volume-up

if $icon-qrcode
    .{$fa-css-prefix}-qrcode:before
      content: $fa-var-qrcode

if $icon-barcode
    .{$fa-css-prefix}-barcode:before
      content: $fa-var-barcode

if $icon-tag
    .{$fa-css-prefix}-tag:before
      content: $fa-var-tag

if $icon-tags
    .{$fa-css-prefix}-tags:before
      content: $fa-var-tags

if $icon-book
    .{$fa-css-prefix}-book:before
      content: $fa-var-book

if $icon-bookmark
    .{$fa-css-prefix}-bookmark:before
      content: $fa-var-bookmark

if $icon-print
    .{$fa-css-prefix}-print:before
      content: $fa-var-print

if $icon-camera
    .{$fa-css-prefix}-camera:before
      content: $fa-var-camera

if $icon-font
    .{$fa-css-prefix}-font:before
      content: $fa-var-font

if $icon-bold
    .{$fa-css-prefix}-bold:before
      content: $fa-var-bold

if $icon-italic
    .{$fa-css-prefix}-italic:before
      content: $fa-var-italic

if $icon-text-height
    .{$fa-css-prefix}-text-height:before
      content: $fa-var-text-height

if $icon-text-width
    .{$fa-css-prefix}-text-width:before
      content: $fa-var-text-width

if $icon-align-left
    .{$fa-css-prefix}-align-left:before
      content: $fa-var-align-left

if $icon-align-center
    .{$fa-css-prefix}-align-center:before
      content: $fa-var-align-center

if $icon-align-right
    .{$fa-css-prefix}-align-right:before
      content: $fa-var-align-right

if $icon-align-justify
    .{$fa-css-prefix}-align-justify:before
      content: $fa-var-align-justify

if $icon-list
    .{$fa-css-prefix}-list:before
      content: $fa-var-list

if $icon-outdent or $icon-dedent
    .{$fa-css-prefix}-dedent:before
      content: $fa-var-outdent

if $icon-indent
    .{$fa-css-prefix}-indent:before
      content: $fa-var-indent

if $icon-video-camera
    .{$fa-css-prefix}-video-camera:before
      content: $fa-var-video-camera

if $icon-picture-o or $icon-photo
    .{$fa-css-prefix}-photo:before
      content: $fa-var-picture-o

if $icon-pencil
    .{$fa-css-prefix}-pencil:before
      content: $fa-var-pencil

if $icon-map-marker
    .{$fa-css-prefix}-map-marker:before
      content: $fa-var-map-marker

if $icon-adjust
    .{$fa-css-prefix}-adjust:before
      content: $fa-var-adjust

if $icon-tint
    .{$fa-css-prefix}-tint:before
      content: $fa-var-tint

if $icon-pencil-square-o or $icon-edit
    .{$fa-css-prefix}-edit:before
      content: $fa-var-pencil-square-o

if $icon-share-square-o
    .{$fa-css-prefix}-share-square-o:before
      content: $fa-var-share-square-o

if $icon-check-square-o
    .{$fa-css-prefix}-check-square-o:before
      content: $fa-var-check-square-o

if $icon-arrows
    .{$fa-css-prefix}-arrows:before
      content: $fa-var-arrows

if $icon-step-backward
    .{$fa-css-prefix}-step-backward:before
      content: $fa-var-step-backward

if $icon-fast-backward
    .{$fa-css-prefix}-fast-backward:before
      content: $fa-var-fast-backward

if $icon-backward
    .{$fa-css-prefix}-backward:before
      content: $fa-var-backward

if $icon-play
    .{$fa-css-prefix}-play:before
      content: $fa-var-play

if $icon-pause
    .{$fa-css-prefix}-pause:before
      content: $fa-var-pause

if $icon-stop
    .{$fa-css-prefix}-stop:before
      content: $fa-var-stop

if $icon-forward
    .{$fa-css-prefix}-forward:before
      content: $fa-var-forward

if $icon-fast-forward
    .{$fa-css-prefix}-fast-forward:before
      content: $fa-var-fast-forward

if $icon-step-forward
    .{$fa-css-prefix}-step-forward:before
      content: $fa-var-step-forward

if $icon-eject
    .{$fa-css-prefix}-eject:before
      content: $fa-var-eject

if $icon-chevron-left
    .{$fa-css-prefix}-chevron-left:before
      content: $fa-var-chevron-left

if $icon-chevron-right
    .{$fa-css-prefix}-chevron-right:before
      content: $fa-var-chevron-right

if $icon-plus-circle
    .{$fa-css-prefix}-plus-circle:before
      content: $fa-var-plus-circle

if $icon-minus-circle
    .{$fa-css-prefix}-minus-circle:before
      content: $fa-var-minus-circle

if $icon-times-circle
    .{$fa-css-prefix}-times-circle:before
      content: $fa-var-times-circle

if $icon-check-circle
    .{$fa-css-prefix}-check-circle:before
      content: $fa-var-check-circle

if $icon-question-circle
    .{$fa-css-prefix}-question-circle:before
      content: $fa-var-question-circle

if $icon-info-circle
    .{$fa-css-prefix}-info-circle:before
      content: $fa-var-info-circle

if $icon-crosshairs
    .{$fa-css-prefix}-crosshairs:before
      content: $fa-var-crosshairs

if $icon-times-circle-o
    .{$fa-css-prefix}-times-circle-o:before
      content: $fa-var-times-circle-o

if $icon-check-circle-o
    .{$fa-css-prefix}-check-circle-o:before
      content: $fa-var-check-circle-o

if $icon-ban
    .{$fa-css-prefix}-ban:before
      content: $fa-var-ban

if $icon-arrow-left
    .{$fa-css-prefix}-arrow-left:before
      content: $fa-var-arrow-left

if $icon-arrow-right
    .{$fa-css-prefix}-arrow-right:before
      content: $fa-var-arrow-right

if $icon-arrow-up
    .{$fa-css-prefix}-arrow-up:before
      content: $fa-var-arrow-up

if $icon-arrow-down
    .{$fa-css-prefix}-arrow-down:before
      content: $fa-var-arrow-down

if $icon-share or $icon-mail-forward
    .{$fa-css-prefix}-mail-forward:before
      content: $fa-var-share

if $icon-expand
    .{$fa-css-prefix}-expand:before
      content: $fa-var-expand

if $icon-compress
    .{$fa-css-prefix}-compress:before
      content: $fa-var-compress

if $icon-plus
    .{$fa-css-prefix}-plus:before
      content: $fa-var-plus

if $icon-minus
    .{$fa-css-prefix}-minus:before
      content: $fa-var-minus

if $icon-asterisk
    .{$fa-css-prefix}-asterisk:before
      content: $fa-var-asterisk

if $icon-exclamation-circle
    .{$fa-css-prefix}-exclamation-circle:before
      content: $fa-var-exclamation-circle

if $icon-gift
    .{$fa-css-prefix}-gift:before
      content: $fa-var-gift

if $icon-leaf
    .{$fa-css-prefix}-leaf:before
      content: $fa-var-leaf

if $icon-fire
    .{$fa-css-prefix}-fire:before
      content: $fa-var-fire

if $icon-eye
    .{$fa-css-prefix}-eye:before
      content: $fa-var-eye

if $icon-eye-slash
    .{$fa-css-prefix}-eye-slash:before
      content: $fa-var-eye-slash

if $icon-exclamation-triangle or $icon-warning
    .{$fa-css-prefix}-warning:before
      content: $fa-var-exclamation-triangle

if $icon-plane
    .{$fa-css-prefix}-plane:before
      content: $fa-var-plane

if $icon-calendar
    .{$fa-css-prefix}-calendar:before
      content: $fa-var-calendar

if $icon-random
    .{$fa-css-prefix}-random:before
      content: $fa-var-random

if $icon-comment
    .{$fa-css-prefix}-comment:before
      content: $fa-var-comment

if $icon-magnet
    .{$fa-css-prefix}-magnet:before
      content: $fa-var-magnet

if $icon-chevron-up
    .{$fa-css-prefix}-chevron-up:before
      content: $fa-var-chevron-up

if $icon-chevron-down
    .{$fa-css-prefix}-chevron-down:before
      content: $fa-var-chevron-down

if $icon-retweet
    .{$fa-css-prefix}-retweet:before
      content: $fa-var-retweet

if $icon-shopping-cart
    .{$fa-css-prefix}-shopping-cart:before
      content: $fa-var-shopping-cart

if $icon-folder
    .{$fa-css-prefix}-folder:before
      content: $fa-var-folder

if $icon-folder-open
    .{$fa-css-prefix}-folder-open:before
      content: $fa-var-folder-open

if $icon-arrows-v
    .{$fa-css-prefix}-arrows-v:before
      content: $fa-var-arrows-v

if $icon-arrows-h
    .{$fa-css-prefix}-arrows-h:before
      content: $fa-var-arrows-h

if $icon-bar-chart or $icon-bar-chart-o
    .{$fa-css-prefix}-bar-chart-o:before
      content: $fa-var-bar-chart

if $icon-twitter-square
    .{$fa-css-prefix}-twitter-square:before
      content: $fa-var-twitter-square

if $icon-facebook-square
    .{$fa-css-prefix}-facebook-square:before
      content: $fa-var-facebook-square

if $icon-camera-retro
    .{$fa-css-prefix}-camera-retro:before
      content: $fa-var-camera-retro

if $icon-key
    .{$fa-css-prefix}-key:before
      content: $fa-var-key

if $icon-cogs or $icon-gears
    .{$fa-css-prefix}-gears:before
      content: $fa-var-cogs

if $icon-comments
    .{$fa-css-prefix}-comments:before
      content: $fa-var-comments

if $icon-thumbs-o-up
    .{$fa-css-prefix}-thumbs-o-up:before
      content: $fa-var-thumbs-o-up

if $icon-thumbs-o-down
    .{$fa-css-prefix}-thumbs-o-down:before
      content: $fa-var-thumbs-o-down

if $icon-star-half
    .{$fa-css-prefix}-star-half:before
      content: $fa-var-star-half

if $icon-heart-o
    .{$fa-css-prefix}-heart-o:before
      content: $fa-var-heart-o

if $icon-sign-out
    .{$fa-css-prefix}-sign-out:before
      content: $fa-var-sign-out

if $icon-linkedin-square
    .{$fa-css-prefix}-linkedin-square:before
      content: $fa-var-linkedin-square

if $icon-thumb-tack
    .{$fa-css-prefix}-thumb-tack:before
      content: $fa-var-thumb-tack

if $icon-external-link
    .{$fa-css-prefix}-external-link:before
      content: $fa-var-external-link

if $icon-sign-in
    .{$fa-css-prefix}-sign-in:before
      content: $fa-var-sign-in

if $icon-trophy
    .{$fa-css-prefix}-trophy:before
      content: $fa-var-trophy

if $icon-github-square
    .{$fa-css-prefix}-github-square:before
      content: $fa-var-github-square

if $icon-upload
    .{$fa-css-prefix}-upload:before
      content: $fa-var-upload

if $icon-lemon-o
    .{$fa-css-prefix}-lemon-o:before
      content: $fa-var-lemon-o

if $icon-phone
    .{$fa-css-prefix}-phone:before
      content: $fa-var-phone

if $icon-square-o
    .{$fa-css-prefix}-square-o:before
      content: $fa-var-square-o

if $icon-bookmark-o
    .{$fa-css-prefix}-bookmark-o:before
      content: $fa-var-bookmark-o

if $icon-phone-square
    .{$fa-css-prefix}-phone-square:before
      content: $fa-var-phone-square

if $icon-twitter
    .{$fa-css-prefix}-twitter:before
      content: $fa-var-twitter

if $icon-facebook
    .{$fa-css-prefix}-facebook-f:before
      content: $fa-var-facebook

if $icon-github
    .{$fa-css-prefix}-github:before
      content: $fa-var-github

if $icon-unlock
    .{$fa-css-prefix}-unlock:before
      content: $fa-var-unlock

if $icon-credit-card
    .{$fa-css-prefix}-credit-card:before
      content: $fa-var-credit-card

if $icon-rss or $icon-feed
    .{$fa-css-prefix}-feed:before
      content: $fa-var-rss

if $icon-hdd-o
    .{$fa-css-prefix}-hdd-o:before
      content: $fa-var-hdd-o

if $icon-bullhorn
    .{$fa-css-prefix}-bullhorn:before
      content: $fa-var-bullhorn

if $icon-bell
    .{$fa-css-prefix}-bell:before
      content: $fa-var-bell

if $icon-certificate
    .{$fa-css-prefix}-certificate:before
      content: $fa-var-certificate

if $icon-hand-o-right
    .{$fa-css-prefix}-hand-o-right:before
      content: $fa-var-hand-o-right

if $icon-hand-o-left
    .{$fa-css-prefix}-hand-o-left:before
      content: $fa-var-hand-o-left

if $icon-hand-o-up
    .{$fa-css-prefix}-hand-o-up:before
      content: $fa-var-hand-o-up

if $icon-hand-o-down
    .{$fa-css-prefix}-hand-o-down:before
      content: $fa-var-hand-o-down

if $icon-arrow-circle-left
    .{$fa-css-prefix}-arrow-circle-left:before
      content: $fa-var-arrow-circle-left

if $icon-arrow-circle-right
    .{$fa-css-prefix}-arrow-circle-right:before
      content: $fa-var-arrow-circle-right

if $icon-arrow-circle-up
    .{$fa-css-prefix}-arrow-circle-up:before
      content: $fa-var-arrow-circle-up

if $icon-arrow-circle-down
    .{$fa-css-prefix}-arrow-circle-down:before
      content: $fa-var-arrow-circle-down

if $icon-globe
    .{$fa-css-prefix}-globe:before
      content: $fa-var-globe

if $icon-wrench
    .{$fa-css-prefix}-wrench:before
      content: $fa-var-wrench

if $icon-tasks
    .{$fa-css-prefix}-tasks:before
      content: $fa-var-tasks

if $icon-filter
    .{$fa-css-prefix}-filter:before
      content: $fa-var-filter

if $icon-briefcase
    .{$fa-css-prefix}-briefcase:before
      content: $fa-var-briefcase

if $icon-arrows-alt
    .{$fa-css-prefix}-arrows-alt:before
      content: $fa-var-arrows-alt

if $icon-users or $icon-group
    .{$fa-css-prefix}-group:before
      content: $fa-var-users

if $icon-link or $icon-chain
    .{$fa-css-prefix}-chain:before
      content: $fa-var-link

if $icon-cloud
    .{$fa-css-prefix}-cloud:before
      content: $fa-var-cloud

if $icon-flask
    .{$fa-css-prefix}-flask:before
      content: $fa-var-flask

if $icon-scissors or $icon-cut
    .{$fa-css-prefix}-cut:before
      content: $fa-var-scissors

if $icon-files-o or $icon-copy
    .{$fa-css-prefix}-copy:before
      content: $fa-var-files-o

if $icon-paperclip
    .{$fa-css-prefix}-paperclip:before
      content: $fa-var-paperclip

if $icon-floppy-o or $icon-save
    .{$fa-css-prefix}-save:before
      content: $fa-var-floppy-o

if $icon-square
    .{$fa-css-prefix}-square:before
      content: $fa-var-square

if $icon-bars or $icon-navicon
    .{$fa-css-prefix}-navicon:before
      content: $fa-var-bars

if $icon-list-ul
    .{$fa-css-prefix}-list-ul:before
      content: $fa-var-list-ul

if $icon-list-ol
    .{$fa-css-prefix}-list-ol:before
      content: $fa-var-list-ol

if $icon-strikethrough
    .{$fa-css-prefix}-strikethrough:before
      content: $fa-var-strikethrough

if $icon-underline
    .{$fa-css-prefix}-underline:before
      content: $fa-var-underline

if $icon-table
    .{$fa-css-prefix}-table:before
      content: $fa-var-table

if $icon-magic
    .{$fa-css-prefix}-magic:before
      content: $fa-var-magic

if $icon-truck
    .{$fa-css-prefix}-truck:before
      content: $fa-var-truck

if $icon-pinterest
    .{$fa-css-prefix}-pinterest:before
      content: $fa-var-pinterest

if $icon-pinterest-square
    .{$fa-css-prefix}-pinterest-square:before
      content: $fa-var-pinterest-square

if $icon-google-plus-square
    .{$fa-css-prefix}-google-plus-square:before
      content: $fa-var-google-plus-square

if $icon-google-plus
    .{$fa-css-prefix}-google-plus:before
      content: $fa-var-google-plus

if $icon-money
    .{$fa-css-prefix}-money:before
      content: $fa-var-money

if $icon-caret-down
    .{$fa-css-prefix}-caret-down:before
      content: $fa-var-caret-down

if $icon-caret-up
    .{$fa-css-prefix}-caret-up:before
      content: $fa-var-caret-up

if $icon-caret-left
    .{$fa-css-prefix}-caret-left:before
      content: $fa-var-caret-left

if $icon-caret-right
    .{$fa-css-prefix}-caret-right:before
      content: $fa-var-caret-right

if $icon-columns
    .{$fa-css-prefix}-columns:before
      content: $fa-var-columns

if $icon-sort or $icon-unsorted
    .{$fa-css-prefix}-unsorted:before
      content: $fa-var-sort

if $icon-sort-desc or $icon-sort-down
    .{$fa-css-prefix}-sort-down:before
      content: $fa-var-sort-desc

if $icon-sort-asc or $icon-sort-up
    .{$fa-css-prefix}-sort-up:before
      content: $fa-var-sort-asc

if $icon-envelope
    .{$fa-css-prefix}-envelope:before
      content: $fa-var-envelope

if $icon-linkedin
    .{$fa-css-prefix}-linkedin:before
      content: $fa-var-linkedin

if $icon-undo or $icon-rotate-left
    .{$fa-css-prefix}-rotate-left:before
      content: $fa-var-undo

if $icon-gavel or $icon-legal
    .{$fa-css-prefix}-legal:before
      content: $fa-var-gavel

if $icon-tachometer or $icon-dashboard
    .{$fa-css-prefix}-dashboard:before
      content: $fa-var-tachometer

if $icon-comment-o
    .{$fa-css-prefix}-comment-o:before
      content: $fa-var-comment-o

if $icon-comments-o
    .{$fa-css-prefix}-comments-o:before
      content: $fa-var-comments-o

if $icon-bolt or $icon-flash
    .{$fa-css-prefix}-flash:before
      content: $fa-var-bolt

if $icon-sitemap
    .{$fa-css-prefix}-sitemap:before
      content: $fa-var-sitemap

if $icon-umbrella
    .{$fa-css-prefix}-umbrella:before
      content: $fa-var-umbrella

if $icon-clipboard or $icon-paste
    .{$fa-css-prefix}-paste:before
      content: $fa-var-clipboard

if $icon-lightbulb-o
    .{$fa-css-prefix}-lightbulb-o:before
      content: $fa-var-lightbulb-o

if $icon-exchange
    .{$fa-css-prefix}-exchange:before
      content: $fa-var-exchange

if $icon-cloud-download
    .{$fa-css-prefix}-cloud-download:before
      content: $fa-var-cloud-download

if $icon-cloud-upload
    .{$fa-css-prefix}-cloud-upload:before
      content: $fa-var-cloud-upload

if $icon-user-md
    .{$fa-css-prefix}-user-md:before
      content: $fa-var-user-md

if $icon-stethoscope
    .{$fa-css-prefix}-stethoscope:before
      content: $fa-var-stethoscope

if $icon-suitcase
    .{$fa-css-prefix}-suitcase:before
      content: $fa-var-suitcase

if $icon-bell-o
    .{$fa-css-prefix}-bell-o:before
      content: $fa-var-bell-o

if $icon-coffee
    .{$fa-css-prefix}-coffee:before
      content: $fa-var-coffee

if $icon-cutlery
    .{$fa-css-prefix}-cutlery:before
      content: $fa-var-cutlery

if $icon-file-text-o
    .{$fa-css-prefix}-file-text-o:before
      content: $fa-var-file-text-o

if $icon-building-o
    .{$fa-css-prefix}-building-o:before
      content: $fa-var-building-o

if $icon-hospital-o
    .{$fa-css-prefix}-hospital-o:before
      content: $fa-var-hospital-o

if $icon-ambulance
    .{$fa-css-prefix}-ambulance:before
      content: $fa-var-ambulance

if $icon-medkit
    .{$fa-css-prefix}-medkit:before
      content: $fa-var-medkit

if $icon-fighter-jet
    .{$fa-css-prefix}-fighter-jet:before
      content: $fa-var-fighter-jet

if $icon-beer
    .{$fa-css-prefix}-beer:before
      content: $fa-var-beer

if $icon-h-square
    .{$fa-css-prefix}-h-square:before
      content: $fa-var-h-square

if $icon-plus-square
    .{$fa-css-prefix}-plus-square:before
      content: $fa-var-plus-square

if $icon-angle-double-left
    .{$fa-css-prefix}-angle-double-left:before
      content: $fa-var-angle-double-left

if $icon-angle-double-right
    .{$fa-css-prefix}-angle-double-right:before
      content: $fa-var-angle-double-right

if $icon-angle-double-up
    .{$fa-css-prefix}-angle-double-up:before
      content: $fa-var-angle-double-up

if $icon-angle-double-down
    .{$fa-css-prefix}-angle-double-down:before
      content: $fa-var-angle-double-down

if $icon-angle-left
    .{$fa-css-prefix}-angle-left:before
      content: $fa-var-angle-left

if $icon-angle-right
    .{$fa-css-prefix}-angle-right:before
      content: $fa-var-angle-right

if $icon-angle-up
    .{$fa-css-prefix}-angle-up:before
      content: $fa-var-angle-up

if $icon-angle-down
    .{$fa-css-prefix}-angle-down:before
      content: $fa-var-angle-down

if $icon-desktop
    .{$fa-css-prefix}-desktop:before
      content: $fa-var-desktop

if $icon-laptop
    .{$fa-css-prefix}-laptop:before
      content: $fa-var-laptop

if $icon-tablet
    .{$fa-css-prefix}-tablet:before
      content: $fa-var-tablet

if $icon-mobile or $icon-mobile-phone
    .{$fa-css-prefix}-mobile-phone:before
      content: $fa-var-mobile

if $icon-circle-o
    .{$fa-css-prefix}-circle-o:before
      content: $fa-var-circle-o

if $icon-quote-left
    .{$fa-css-prefix}-quote-left:before
      content: $fa-var-quote-left

if $icon-quote-right
    .{$fa-css-prefix}-quote-right:before
      content: $fa-var-quote-right

if $icon-spinner
    .{$fa-css-prefix}-spinner:before
      content: $fa-var-spinner

if $icon-circle
    .{$fa-css-prefix}-circle:before
      content: $fa-var-circle

if $icon-reply or $icon-mail-reply
    .{$fa-css-prefix}-mail-reply:before
      content: $fa-var-reply

if $icon-github-alt
    .{$fa-css-prefix}-github-alt:before
      content: $fa-var-github-alt

if $icon-folder-o
    .{$fa-css-prefix}-folder-o:before
      content: $fa-var-folder-o

if $icon-folder-open-o
    .{$fa-css-prefix}-folder-open-o:before
      content: $fa-var-folder-open-o

if $icon-smile-o
    .{$fa-css-prefix}-smile-o:before
      content: $fa-var-smile-o

if $icon-frown-o
    .{$fa-css-prefix}-frown-o:before
      content: $fa-var-frown-o

if $icon-meh-o
    .{$fa-css-prefix}-meh-o:before
      content: $fa-var-meh-o

if $icon-gamepad
    .{$fa-css-prefix}-gamepad:before
      content: $fa-var-gamepad

if $icon-keyboard-o
    .{$fa-css-prefix}-keyboard-o:before
      content: $fa-var-keyboard-o

if $icon-flag-o
    .{$fa-css-prefix}-flag-o:before
      content: $fa-var-flag-o

if $icon-flag-checkered
    .{$fa-css-prefix}-flag-checkered:before
      content: $fa-var-flag-checkered

if $icon-terminal
    .{$fa-css-prefix}-terminal:before
      content: $fa-var-terminal

if $icon-code
    .{$fa-css-prefix}-code:before
      content: $fa-var-code

if $icon-reply-all or $icon-mail-reply-all
    .{$fa-css-prefix}-mail-reply-all:before
      content: $fa-var-reply-all

if $icon-star-half-o or $icon-star-half-empty
    .{$fa-css-prefix}-star-half-empty:before
      content: $fa-var-star-half-o

if $icon-location-arrow
    .{$fa-css-prefix}-location-arrow:before
      content: $fa-var-location-arrow

if $icon-crop
    .{$fa-css-prefix}-crop:before
      content: $fa-var-crop

if $icon-code-fork
    .{$fa-css-prefix}-code-fork:before
      content: $fa-var-code-fork

if $icon-chain-broken or $icon-unlink
    .{$fa-css-prefix}-unlink:before
      content: $fa-var-chain-broken

if $icon-question
    .{$fa-css-prefix}-question:before
      content: $fa-var-question

if $icon-info
    .{$fa-css-prefix}-info:before
      content: $fa-var-info

if $icon-exclamation
    .{$fa-css-prefix}-exclamation:before
      content: $fa-var-exclamation

if $icon-superscript
    .{$fa-css-prefix}-superscript:before
      content: $fa-var-superscript

if $icon-subscript
    .{$fa-css-prefix}-subscript:before
      content: $fa-var-subscript

if $icon-eraser
    .{$fa-css-prefix}-eraser:before
      content: $fa-var-eraser

if $icon-puzzle-piece
    .{$fa-css-prefix}-puzzle-piece:before
      content: $fa-var-puzzle-piece

if $icon-microphone
    .{$fa-css-prefix}-microphone:before
      content: $fa-var-microphone

if $icon-microphone-slash
    .{$fa-css-prefix}-microphone-slash:before
      content: $fa-var-microphone-slash

if $icon-shield
    .{$fa-css-prefix}-shield:before
      content: $fa-var-shield

if $icon-calendar-o
    .{$fa-css-prefix}-calendar-o:before
      content: $fa-var-calendar-o

if $icon-fire-extinguisher
    .{$fa-css-prefix}-fire-extinguisher:before
      content: $fa-var-fire-extinguisher

if $icon-rocket
    .{$fa-css-prefix}-rocket:before
      content: $fa-var-rocket

if $icon-maxcdn
    .{$fa-css-prefix}-maxcdn:before
      content: $fa-var-maxcdn

if $icon-chevron-circle-left
    .{$fa-css-prefix}-chevron-circle-left:before
      content: $fa-var-chevron-circle-left

if $icon-chevron-circle-right
    .{$fa-css-prefix}-chevron-circle-right:before
      content: $fa-var-chevron-circle-right

if $icon-chevron-circle-up
    .{$fa-css-prefix}-chevron-circle-up:before
      content: $fa-var-chevron-circle-up

if $icon-chevron-circle-down
    .{$fa-css-prefix}-chevron-circle-down:before
      content: $fa-var-chevron-circle-down

if $icon-html5
    .{$fa-css-prefix}-html5:before
      content: $fa-var-html5

if $icon-css3
    .{$fa-css-prefix}-css3:before
      content: $fa-var-css3

if $icon-anchor
    .{$fa-css-prefix}-anchor:before
      content: $fa-var-anchor

if $icon-unlock-alt
    .{$fa-css-prefix}-unlock-alt:before
      content: $fa-var-unlock-alt

if $icon-bullseye
    .{$fa-css-prefix}-bullseye:before
      content: $fa-var-bullseye

if $icon-ellipsis-h
    .{$fa-css-prefix}-ellipsis-h:before
      content: $fa-var-ellipsis-h

if $icon-ellipsis-v
    .{$fa-css-prefix}-ellipsis-v:before
      content: $fa-var-ellipsis-v

if $icon-rss-square
    .{$fa-css-prefix}-rss-square:before
      content: $fa-var-rss-square

if $icon-play-circle
    .{$fa-css-prefix}-play-circle:before
      content: $fa-var-play-circle

if $icon-ticket
    .{$fa-css-prefix}-ticket:before
      content: $fa-var-ticket

if $icon-minus-square
    .{$fa-css-prefix}-minus-square:before
      content: $fa-var-minus-square

if $icon-minus-square-o
    .{$fa-css-prefix}-minus-square-o:before
      content: $fa-var-minus-square-o

if $icon-level-up
    .{$fa-css-prefix}-level-up:before
      content: $fa-var-level-up

if $icon-level-down
    .{$fa-css-prefix}-level-down:before
      content: $fa-var-level-down

if $icon-check-square
    .{$fa-css-prefix}-check-square:before
      content: $fa-var-check-square

if $icon-pencil-square
    .{$fa-css-prefix}-pencil-square:before
      content: $fa-var-pencil-square

if $icon-external-link-square
    .{$fa-css-prefix}-external-link-square:before
      content: $fa-var-external-link-square

if $icon-share-square
    .{$fa-css-prefix}-share-square:before
      content: $fa-var-share-square

if $icon-compass
    .{$fa-css-prefix}-compass:before
      content: $fa-var-compass

if $icon-caret-square-o-down or $icon-toggle-down
    .{$fa-css-prefix}-toggle-down:before
      content: $fa-var-caret-square-o-down

if $icon-caret-square-o-up or $icon-toggle-up
    .{$fa-css-prefix}-toggle-up:before
      content: $fa-var-caret-square-o-up

if $icon-caret-square-o-right or $icon-toggle-right
    .{$fa-css-prefix}-toggle-right:before
      content: $fa-var-caret-square-o-right

if $icon-eur or $icon-euro
    .{$fa-css-prefix}-euro:before
      content: $fa-var-eur

if $icon-gbp
    .{$fa-css-prefix}-gbp:before
      content: $fa-var-gbp

if $icon-usd or $icon-dollar
    .{$fa-css-prefix}-dollar:before
      content: $fa-var-usd

if $icon-inr or $icon-rupee
    .{$fa-css-prefix}-rupee:before
      content: $fa-var-inr

if $icon-jpy or $icon-cny
    .{$fa-css-prefix}-cny:before
      content: $fa-var-jpy

if $icon-rub or $icon-ruble
    .{$fa-css-prefix}-ruble:before
      content: $fa-var-rub

if $icon-krw or $icon-won
    .{$fa-css-prefix}-won:before
      content: $fa-var-krw

if $icon-btc or $icon-bitcoin
    .{$fa-css-prefix}-bitcoin:before
      content: $fa-var-btc

if $icon-file
    .{$fa-css-prefix}-file:before
      content: $fa-var-file

if $icon-file-text
    .{$fa-css-prefix}-file-text:before
      content: $fa-var-file-text

if $icon-sort-alpha-asc
    .{$fa-css-prefix}-sort-alpha-asc:before
      content: $fa-var-sort-alpha-asc

if $icon-sort-alpha-desc
    .{$fa-css-prefix}-sort-alpha-desc:before
      content: $fa-var-sort-alpha-desc

if $icon-sort-amount-asc
    .{$fa-css-prefix}-sort-amount-asc:before
      content: $fa-var-sort-amount-asc

if $icon-sort-amount-desc
    .{$fa-css-prefix}-sort-amount-desc:before
      content: $fa-var-sort-amount-desc

if $icon-sort-numeric-asc
    .{$fa-css-prefix}-sort-numeric-asc:before
      content: $fa-var-sort-numeric-asc

if $icon-sort-numeric-desc
    .{$fa-css-prefix}-sort-numeric-desc:before
      content: $fa-var-sort-numeric-desc

if $icon-thumbs-up
    .{$fa-css-prefix}-thumbs-up:before
      content: $fa-var-thumbs-up

if $icon-thumbs-down
    .{$fa-css-prefix}-thumbs-down:before
      content: $fa-var-thumbs-down

if $icon-youtube-square
    .{$fa-css-prefix}-youtube-square:before
      content: $fa-var-youtube-square

if $icon-youtube
    .{$fa-css-prefix}-youtube:before
      content: $fa-var-youtube

if $icon-xing
    .{$fa-css-prefix}-xing:before
      content: $fa-var-xing

if $icon-xing-square
    .{$fa-css-prefix}-xing-square:before
      content: $fa-var-xing-square

if $icon-youtube-play
    .{$fa-css-prefix}-youtube-play:before
      content: $fa-var-youtube-play

if $icon-dropbox
    .{$fa-css-prefix}-dropbox:before
      content: $fa-var-dropbox

if $icon-stack-overflow
    .{$fa-css-prefix}-stack-overflow:before
      content: $fa-var-stack-overflow

if $icon-instagram
    .{$fa-css-prefix}-instagram:before
      content: $fa-var-instagram

if $icon-flickr
    .{$fa-css-prefix}-flickr:before
      content: $fa-var-flickr

if $icon-adn
    .{$fa-css-prefix}-adn:before
      content: $fa-var-adn

if $icon-bitbucket
    .{$fa-css-prefix}-bitbucket:before
      content: $fa-var-bitbucket

if $icon-bitbucket-square
    .{$fa-css-prefix}-bitbucket-square:before
      content: $fa-var-bitbucket-square

if $icon-tumblr
    .{$fa-css-prefix}-tumblr:before
      content: $fa-var-tumblr

if $icon-tumblr-square
    .{$fa-css-prefix}-tumblr-square:before
      content: $fa-var-tumblr-square

if $icon-long-arrow-down
    .{$fa-css-prefix}-long-arrow-down:before
      content: $fa-var-long-arrow-down

if $icon-long-arrow-up
    .{$fa-css-prefix}-long-arrow-up:before
      content: $fa-var-long-arrow-up

if $icon-long-arrow-left
    .{$fa-css-prefix}-long-arrow-left:before
      content: $fa-var-long-arrow-left

if $icon-long-arrow-right
    .{$fa-css-prefix}-long-arrow-right:before
      content: $fa-var-long-arrow-right

if $icon-apple
    .{$fa-css-prefix}-apple:before
      content: $fa-var-apple

if $icon-windows
    .{$fa-css-prefix}-windows:before
      content: $fa-var-windows

if $icon-android
    .{$fa-css-prefix}-android:before
      content: $fa-var-android

if $icon-linux
    .{$fa-css-prefix}-linux:before
      content: $fa-var-linux

if $icon-dribbble
    .{$fa-css-prefix}-dribbble:before
      content: $fa-var-dribbble

if $icon-skype
    .{$fa-css-prefix}-skype:before
      content: $fa-var-skype

if $icon-foursquare
    .{$fa-css-prefix}-foursquare:before
      content: $fa-var-foursquare

if $icon-trello
    .{$fa-css-prefix}-trello:before
      content: $fa-var-trello

if $icon-female
    .{$fa-css-prefix}-female:before
      content: $fa-var-female

if $icon-male
    .{$fa-css-prefix}-male:before
      content: $fa-var-male

if $icon-gittip or $icon-gratipay
    .{$fa-css-prefix}-gittip:before
      content: $fa-var-gratipay

if $icon-sun-o
    .{$fa-css-prefix}-sun-o:before
      content: $fa-var-sun-o

if $icon-moon-o
    .{$fa-css-prefix}-moon-o:before
      content: $fa-var-moon-o

if $icon-archive
    .{$fa-css-prefix}-archive:before
      content: $fa-var-archive

if $icon-bug
    .{$fa-css-prefix}-bug:before
      content: $fa-var-bug

if $icon-vk
    .{$fa-css-prefix}-vk:before
      content: $fa-var-vk

if $icon-weibo
    .{$fa-css-prefix}-weibo:before
      content: $fa-var-weibo

if $icon-renren
    .{$fa-css-prefix}-renren:before
      content: $fa-var-renren

if $icon-pagelines
    .{$fa-css-prefix}-pagelines:before
      content: $fa-var-pagelines

if $icon-stack-exchange
    .{$fa-css-prefix}-stack-exchange:before
      content: $fa-var-stack-exchange

if $icon-arrow-circle-o-right
    .{$fa-css-prefix}-arrow-circle-o-right:before
      content: $fa-var-arrow-circle-o-right

if $icon-arrow-circle-o-left
    .{$fa-css-prefix}-arrow-circle-o-left:before
      content: $fa-var-arrow-circle-o-left

if $icon-caret-square-o-left or $icon-toggle-left
    .{$fa-css-prefix}-toggle-left:before
      content: $fa-var-caret-square-o-left

if $icon-dot-circle-o
    .{$fa-css-prefix}-dot-circle-o:before
      content: $fa-var-dot-circle-o

if $icon-wheelchair
    .{$fa-css-prefix}-wheelchair:before
      content: $fa-var-wheelchair

if $icon-vimeo-square
    .{$fa-css-prefix}-vimeo-square:before
      content: $fa-var-vimeo-square

if $icon-try or $icon-turkish-lira
    .{$fa-css-prefix}-turkish-lira:before
      content: $fa-var-try

if $icon-plus-square-o
    .{$fa-css-prefix}-plus-square-o:before
      content: $fa-var-plus-square-o

if $icon-space-shuttle
    .{$fa-css-prefix}-space-shuttle:before
      content: $fa-var-space-shuttle

if $icon-slack
    .{$fa-css-prefix}-slack:before
      content: $fa-var-slack

if $icon-envelope-square
    .{$fa-css-prefix}-envelope-square:before
      content: $fa-var-envelope-square

if $icon-wordpress
    .{$fa-css-prefix}-wordpress:before
      content: $fa-var-wordpress

if $icon-openid
    .{$fa-css-prefix}-openid:before
      content: $fa-var-openid

if $icon-university or $icon-institution
    .{$fa-css-prefix}-institution:before
      content: $fa-var-university

if $icon-graduation-cap or $icon-mortar-board
    .{$fa-css-prefix}-mortar-board:before
      content: $fa-var-graduation-cap

if $icon-yahoo
    .{$fa-css-prefix}-yahoo:before
      content: $fa-var-yahoo

if $icon-google
    .{$fa-css-prefix}-google:before
      content: $fa-var-google

if $icon-reddit
    .{$fa-css-prefix}-reddit:before
      content: $fa-var-reddit

if $icon-reddit-square
    .{$fa-css-prefix}-reddit-square:before
      content: $fa-var-reddit-square

if $icon-stumbleupon-circle
    .{$fa-css-prefix}-stumbleupon-circle:before
      content: $fa-var-stumbleupon-circle

if $icon-stumbleupon
    .{$fa-css-prefix}-stumbleupon:before
      content: $fa-var-stumbleupon

if $icon-delicious
    .{$fa-css-prefix}-delicious:before
      content: $fa-var-delicious

if $icon-digg
    .{$fa-css-prefix}-digg:before
      content: $fa-var-digg

if $icon-pied-piper-pp
    .{$fa-css-prefix}-pied-piper-pp:before
      content: $fa-var-pied-piper-pp

if $icon-pied-piper-alt
    .{$fa-css-prefix}-pied-piper-alt:before
      content: $fa-var-pied-piper-alt

if $icon-drupal
    .{$fa-css-prefix}-drupal:before
      content: $fa-var-drupal

if $icon-joomla
    .{$fa-css-prefix}-joomla:before
      content: $fa-var-joomla

if $icon-language
    .{$fa-css-prefix}-language:before
      content: $fa-var-language

if $icon-fax
    .{$fa-css-prefix}-fax:before
      content: $fa-var-fax

if $icon-building
    .{$fa-css-prefix}-building:before
      content: $fa-var-building

if $icon-child
    .{$fa-css-prefix}-child:before
      content: $fa-var-child

if $icon-paw
    .{$fa-css-prefix}-paw:before
      content: $fa-var-paw

if $icon-spoon
    .{$fa-css-prefix}-spoon:before
      content: $fa-var-spoon

if $icon-cube
    .{$fa-css-prefix}-cube:before
      content: $fa-var-cube

if $icon-cubes
    .{$fa-css-prefix}-cubes:before
      content: $fa-var-cubes

if $icon-behance
    .{$fa-css-prefix}-behance:before
      content: $fa-var-behance

if $icon-behance-square
    .{$fa-css-prefix}-behance-square:before
      content: $fa-var-behance-square

if $icon-steam
    .{$fa-css-prefix}-steam:before
      content: $fa-var-steam

if $icon-steam-square
    .{$fa-css-prefix}-steam-square:before
      content: $fa-var-steam-square

if $icon-recycle
    .{$fa-css-prefix}-recycle:before
      content: $fa-var-recycle

if $icon-car
    .{$fa-css-prefix}-automobile:before
      content: $fa-var-car

if $icon-taxi
    .{$fa-css-prefix}-cab:before
      content: $fa-var-taxi

if $icon-tree
    .{$fa-css-prefix}-tree:before
      content: $fa-var-tree

if $icon-spotify
    .{$fa-css-prefix}-spotify:before
      content: $fa-var-spotify

if $icon-deviantart
    .{$fa-css-prefix}-deviantart:before
      content: $fa-var-deviantart

if $icon-soundcloud
    .{$fa-css-prefix}-soundcloud:before
      content: $fa-var-soundcloud

if $icon-database
    .{$fa-css-prefix}-database:before
      content: $fa-var-database

if $icon-file-pdf-o
    .{$fa-css-prefix}-file-pdf-o:before
      content: $fa-var-file-pdf-o

if $icon-file-word-o
    .{$fa-css-prefix}-file-word-o:before
      content: $fa-var-file-word-o

if $icon-file-excel-o
    .{$fa-css-prefix}-file-excel-o:before
      content: $fa-var-file-excel-o

if $icon-file-powerpoint-o
    .{$fa-css-prefix}-file-powerpoint-o:before
      content: $fa-var-file-powerpoint-o

if $icon-file-image-o or $icon-file-photo-o
    .{$fa-css-prefix}-file-photo-o:before
      content: $fa-var-file-image-o

if $icon-file-archive-o or $icon-file-zip-o
    .{$fa-css-prefix}-file-zip-o:before
      content: $fa-var-file-archive-o

if $icon-file-audio-o or $icon-file-sound-o
    .{$fa-css-prefix}-file-sound-o:before
      content: $fa-var-file-audio-o

if $icon-file-movie-o or $icon-file-video-o
    .{$fa-css-prefix}-file-movie-o:before
      content: $fa-var-file-video-o

if $icon-file-code-o
    .{$fa-css-prefix}-file-code-o:before
      content: $fa-var-file-code-o

if $icon-vine
    .{$fa-css-prefix}-vine:before
      content: $fa-var-vine

if $icon-codepen
    .{$fa-css-prefix}-codepen:before
      content: $fa-var-codepen

if $icon-jsfiddle
    .{$fa-css-prefix}-jsfiddle:before
      content: $fa-var-jsfiddle

if $icon-life-ring or $icon-life-bouy
    .{$fa-css-prefix}-life-bouy:before
      content: $fa-var-life-ring

if $icon-circle-o-notch
    .{$fa-css-prefix}-circle-o-notch:before
      content: $fa-var-circle-o-notch

if $icon-rebel or $icon-ra
    .{$fa-css-prefix}-ra:before
      content: $fa-var-rebel

if $icon-empire or $icon-ge
    .{$fa-css-prefix}-ge:before
      content: $fa-var-empire

if $icon-git-square
    .{$fa-css-prefix}-git-square:before
      content: $fa-var-git-square

if $icon-git
    .{$fa-css-prefix}-git:before
      content: $fa-var-git

if $icon-hacker-news  or $icon-y-combinator-square
    .{$fa-css-prefix}-y-combinator-square:before
      content: $fa-var-hacker-news

if $icon-tencent-weibo
    .{$fa-css-prefix}-tencent-weibo:before
      content: $fa-var-tencent-weibo

if $icon-qq
    .{$fa-css-prefix}-qq:before
      content: $fa-var-qq

if $icon-weixin or $icon-wechat
    .{$fa-css-prefix}-wechat:before
      content: $fa-var-weixin

if $icon-paper-plane or $icon-send
    .{$fa-css-prefix}-send:before
      content: $fa-var-paper-plane

if $icon-paper-plane-o or $icon-send-o
    .{$fa-css-prefix}-send-o:before
      content: $fa-var-paper-plane-o

if $icon-history
    .{$fa-css-prefix}-history:before
      content: $fa-var-history

if $icon-circle-thin
    .{$fa-css-prefix}-circle-thin:before
      content: $fa-var-circle-thin

if $icon-header
    .{$fa-css-prefix}-header:before
      content: $fa-var-header

if $icon-paragraph
    .{$fa-css-prefix}-paragraph:before
      content: $fa-var-paragraph

if $icon-sliders
    .{$fa-css-prefix}-sliders:before
      content: $fa-var-sliders

if $icon-share-alt
    .{$fa-css-prefix}-share-alt:before
      content: $fa-var-share-alt

if $icon-share-alt-square
    .{$fa-css-prefix}-share-alt-square:before
      content: $fa-var-share-alt-square

if $icon-bomb
    .{$fa-css-prefix}-bomb:before
      content: $fa-var-bomb

if $icon-futbol-o or $icon-soccer-ball-o
    .{$fa-css-prefix}-soccer-ball-o:before
      content: $fa-var-futbol-o

if $icon-tty
    .{$fa-css-prefix}-tty:before
      content: $fa-var-tty

if $icon-binoculars
    .{$fa-css-prefix}-binoculars:before
      content: $fa-var-binoculars

if $icon-plug
    .{$fa-css-prefix}-plug:before
      content: $fa-var-plug

if $icon-slideshare
    .{$fa-css-prefix}-slideshare:before
      content: $fa-var-slideshare

if $icon-twitch
    .{$fa-css-prefix}-twitch:before
      content: $fa-var-twitch

if $icon-yelp
    .{$fa-css-prefix}-yelp:before
      content: $fa-var-yelp

if $icon-newspaper-o
    .{$fa-css-prefix}-newspaper-o:before
      content: $fa-var-newspaper-o

if $icon-wifi
    .{$fa-css-prefix}-wifi:before
      content: $fa-var-wifi

if $icon-calculator
    .{$fa-css-prefix}-calculator:before
      content: $fa-var-calculator

if $icon-paypal
    .{$fa-css-prefix}-paypal:before
      content: $fa-var-paypal

if $icon-google-wallet
    .{$fa-css-prefix}-google-wallet:before
      content: $fa-var-google-wallet

if $icon-cc-visa
    .{$fa-css-prefix}-cc-visa:before
      content: $fa-var-cc-visa

if $icon-cc-mastercard
    .{$fa-css-prefix}-cc-mastercard:before
      content: $fa-var-cc-mastercard

if $icon-cc-discover
    .{$fa-css-prefix}-cc-discover:before
      content: $fa-var-cc-discover

if $icon-cc-amex
    .{$fa-css-prefix}-cc-amex:before
      content: $fa-var-cc-amex

if $icon-cc-paypal
    .{$fa-css-prefix}-cc-paypal:before
      content: $fa-var-cc-paypal

if $icon-cc-stripe
    .{$fa-css-prefix}-cc-stripe:before
      content: $fa-var-cc-stripe

if $icon-bell-slash
    .{$fa-css-prefix}-bell-slash:before
      content: $fa-var-bell-slash

if $icon-bell-slash-o
    .{$fa-css-prefix}-bell-slash-o:before
      content: $fa-var-bell-slash-o

if $icon-trash
    .{$fa-css-prefix}-trash:before
      content: $fa-var-trash

if $icon-copyright
    .{$fa-css-prefix}-copyright:before
      content: $fa-var-copyright

if $icon-at
    .{$fa-css-prefix}-at:before
      content: $fa-var-at

if $icon-eyedropper
    .{$fa-css-prefix}-eyedropper:before
      content: $fa-var-eyedropper

if $icon-paint-brush
    .{$fa-css-prefix}-paint-brush:before
      content: $fa-var-paint-brush

if $icon-birthday-cake
    .{$fa-css-prefix}-birthday-cake:before
      content: $fa-var-birthday-cake

if $icon-area-chart
    .{$fa-css-prefix}-area-chart:before
      content: $fa-var-area-chart

if $icon-pie-chart
    .{$fa-css-prefix}-pie-chart:before
      content: $fa-var-pie-chart

if $icon-line-chart
    .{$fa-css-prefix}-line-chart:before
      content: $fa-var-line-chart

if $icon-lastfm
    .{$fa-css-prefix}-lastfm:before
      content: $fa-var-lastfm

if $icon-lastfm-square
    .{$fa-css-prefix}-lastfm-square:before
      content: $fa-var-lastfm-square

if $icon-toggle-off
    .{$fa-css-prefix}-toggle-off:before
      content: $fa-var-toggle-off

if $icon-toggle-on
    .{$fa-css-prefix}-toggle-on:before
      content: $fa-var-toggle-on

if $icon-bicycle
    .{$fa-css-prefix}-bicycle:before
      content: $fa-var-bicycle

if $icon-bus
    .{$fa-css-prefix}-bus:before
      content: $fa-var-bus

if $icon-ioxhost
    .{$fa-css-prefix}-ioxhost:before
      content: $fa-var-ioxhost

if $icon-angellist
    .{$fa-css-prefix}-angellist:before
      content: $fa-var-angellist

if $icon-cc
    .{$fa-css-prefix}-cc:before
      content: $fa-var-cc

if $icon-ils or $icon-shekel
    .{$fa-css-prefix}-shekel:before
      content: $fa-var-ils

if $icon-meanpath
    .{$fa-css-prefix}-meanpath:before
      content: $fa-var-meanpath

if $icon-buysellads
    .{$fa-css-prefix}-buysellads:before
      content: $fa-var-buysellads

if $icon-connectdevelop
    .{$fa-css-prefix}-connectdevelop:before
      content: $fa-var-connectdevelop

if $icon-dashcube
    .{$fa-css-prefix}-dashcube:before
      content: $fa-var-dashcube

if $icon-forumbee
    .{$fa-css-prefix}-forumbee:before
      content: $fa-var-forumbee

if $icon-leanpub
    .{$fa-css-prefix}-leanpub:before
      content: $fa-var-leanpub

if $icon-sellsy
    .{$fa-css-prefix}-sellsy:before
      content: $fa-var-sellsy

if $icon-shirtsinbulk
    .{$fa-css-prefix}-shirtsinbulk:before
      content: $fa-var-shirtsinbulk

if $icon-simplybuilt
    .{$fa-css-prefix}-simplybuilt:before
      content: $fa-var-simplybuilt

if $icon-skyatlas
    .{$fa-css-prefix}-skyatlas:before
      content: $fa-var-skyatlas

if $icon-cart-plus
    .{$fa-css-prefix}-cart-plus:before
      content: $fa-var-cart-plus

if $icon-cart-arrow-down
    .{$fa-css-prefix}-cart-arrow-down:before
      content: $fa-var-cart-arrow-down

if $icon-diamond
    .{$fa-css-prefix}-diamond:before
      content: $fa-var-diamond

if $icon-ship
    .{$fa-css-prefix}-ship:before
      content: $fa-var-ship

if $icon-user-secret
    .{$fa-css-prefix}-user-secret:before
      content: $fa-var-user-secret

if $icon-motorcycle
    .{$fa-css-prefix}-motorcycle:before
      content: $fa-var-motorcycle

if $icon-street-view
    .{$fa-css-prefix}-street-view:before
      content: $fa-var-street-view

if $icon-heartbeat
    .{$fa-css-prefix}-heartbeat:before
      content: $fa-var-heartbeat

if $icon-venus
    .{$fa-css-prefix}-venus:before
      content: $fa-var-venus

if $icon-mars
    .{$fa-css-prefix}-mars:before
      content: $fa-var-mars

if $icon-mercury
    .{$fa-css-prefix}-mercury:before
      content: $fa-var-mercury

if $icon-transgender or $icon-intersex
    .{$fa-css-prefix}-intersex:before
      content: $fa-var-transgender

if $icon-transgender-alt
    .{$fa-css-prefix}-transgender-alt:before
      content: $fa-var-transgender-alt

if $icon-venus-double
    .{$fa-css-prefix}-venus-double:before
      content: $fa-var-venus-double

if $icon-mars-double
    .{$fa-css-prefix}-mars-double:before
      content: $fa-var-mars-double

if $icon-venus-mars
    .{$fa-css-prefix}-venus-mars:before
      content: $fa-var-venus-mars

if $icon-mars-stroke
    .{$fa-css-prefix}-mars-stroke:before
      content: $fa-var-mars-stroke

if $icon-mars-stroke-v
    .{$fa-css-prefix}-mars-stroke-v:before
      content: $fa-var-mars-stroke-v

if $icon-mars-stroke-h
    .{$fa-css-prefix}-mars-stroke-h:before
      content: $fa-var-mars-stroke-h

if $icon-neuter
    .{$fa-css-prefix}-neuter:before
      content: $fa-var-neuter

if $icon-genderless
    .{$fa-css-prefix}-genderless:before
      content: $fa-var-genderless

if $icon-facebook-official
    .{$fa-css-prefix}-facebook-official:before
      content: $fa-var-facebook-official

if $icon-pinterest-p
    .{$fa-css-prefix}-pinterest-p:before
      content: $fa-var-pinterest-p

if $icon-whatsapp
    .{$fa-css-prefix}-whatsapp:before
      content: $fa-var-whatsapp

if $icon-server
    .{$fa-css-prefix}-server:before
      content: $fa-var-server

if $icon-user-plus
    .{$fa-css-prefix}-user-plus:before
      content: $fa-var-user-plus

if $icon-user-times
    .{$fa-css-prefix}-user-times:before
      content: $fa-var-user-times

if $icon-bed or $icon-hotel
    .{$fa-css-prefix}-hotel:before
      content: $fa-var-bed

if $icon-viacoin
    .{$fa-css-prefix}-viacoin:before
      content: $fa-var-viacoin

if $icon-train
    .{$fa-css-prefix}-train:before
      content: $fa-var-train

if $icon-subway
    .{$fa-css-prefix}-subway:before
      content: $fa-var-subway

if $icon-medium
    .{$fa-css-prefix}-medium:before
      content: $fa-var-medium

if $icon-y-combinator or $icon-yc
    .{$fa-css-prefix}-yc:before
      content: $fa-var-y-combinator

if $icon-optin-monster
    .{$fa-css-prefix}-optin-monster:before
      content: $fa-var-optin-monster

if $icon-opencart
    .{$fa-css-prefix}-opencart:before
      content: $fa-var-opencart

if $icon-expeditedssl
    .{$fa-css-prefix}-expeditedssl:before
      content: $fa-var-expeditedssl

if $icon-battery-full or $icon-battery-4
    .{$fa-css-prefix}-battery-4:before
      content: $fa-var-battery-full

if $icon-battery-three-quarters or $icon-battery-3
    .{$fa-css-prefix}-battery-3:before
      content: $fa-var-battery-three-quarters

if $icon-battery-half or $icon-battery-2
    .{$fa-css-prefix}-battery-2:before
      content: $fa-var-battery-half

if $icon-battery-quarter or $icon-battery-1
    .{$fa-css-prefix}-battery-1:before
      content: $fa-var-battery-quarter

if $icon-battery-empty or $icon-battery-0
    .{$fa-css-prefix}-battery-0:before
      content: $fa-var-battery-empty

if $icon-mouse-pointer
    .{$fa-css-prefix}-mouse-pointer:before
      content: $fa-var-mouse-pointer

if $icon-i-cursor
    .{$fa-css-prefix}-i-cursor:before
      content: $fa-var-i-cursor

if $icon-object-group
    .{$fa-css-prefix}-object-group:before
      content: $fa-var-object-group

if $icon-object-ungroup
    .{$fa-css-prefix}-object-ungroup:before
      content: $fa-var-object-ungroup

if $icon-sticky-note
    .{$fa-css-prefix}-sticky-note:before
      content: $fa-var-sticky-note

if $icon-sticky-note-o
    .{$fa-css-prefix}-sticky-note-o:before
      content: $fa-var-sticky-note-o

if $icon-cc-jcb
    .{$fa-css-prefix}-cc-jcb:before
      content: $fa-var-cc-jcb

if $icon-cc-diners-club
    .{$fa-css-prefix}-cc-diners-club:before
      content: $fa-var-cc-diners-club

if $icon-clone
    .{$fa-css-prefix}-clone:before
      content: $fa-var-clone

if $icon-balance-scale
    .{$fa-css-prefix}-balance-scale:before
      content: $fa-var-balance-scale

if $icon-hourglass-o
    .{$fa-css-prefix}-hourglass-o:before
      content: $fa-var-hourglass-o

if $icon-hourglass-start or $icon-hourglass-1
    .{$fa-css-prefix}-hourglass-1:before
      content: $fa-var-hourglass-start

if $icon-hourglass-half or $icon-hourglass-2
    .{$fa-css-prefix}-hourglass-2:before
      content: $fa-var-hourglass-half

if $icon-hourglass-end or $icon-hourglass-3
    .{$fa-css-prefix}-hourglass-3:before
      content: $fa-var-hourglass-end

if $icon-hourglass
    .{$fa-css-prefix}-hourglass:before
      content: $fa-var-hourglass

if $icon-hand-rock-o
    .{$fa-css-prefix}-hand-grab-o:before
      content: $fa-var-hand-rock-o

if $icon-hand-paper-o
    .{$fa-css-prefix}-hand-stop-o:before
      content: $fa-var-hand-paper-o

if $icon-hand-scissors-o
    .{$fa-css-prefix}-hand-scissors-o:before
      content: $fa-var-hand-scissors-o

if $icon-hand-lizard-o
    .{$fa-css-prefix}-hand-lizard-o:before
      content: $fa-var-hand-lizard-o

if $icon-hand-spock-o
    .{$fa-css-prefix}-hand-spock-o:before
      content: $fa-var-hand-spock-o

if $icon-hand-pointer-o
    .{$fa-css-prefix}-hand-pointer-o:before
      content: $fa-var-hand-pointer-o

if $icon-hand-peace-o
    .{$fa-css-prefix}-hand-peace-o:before
      content: $fa-var-hand-peace-o

if $icon-trademark
    .{$fa-css-prefix}-trademark:before
      content: $fa-var-trademark

if $icon-registered
    .{$fa-css-prefix}-registered:before
      content: $fa-var-registered

if $icon-creative-commons
    .{$fa-css-prefix}-creative-commons:before
      content: $fa-var-creative-commons

if $icon-gg
    .{$fa-css-prefix}-gg:before
      content: $fa-var-gg

if $icon-gg-circle
    .{$fa-css-prefix}-gg-circle:before
      content: $fa-var-gg-circle

if $icon-tripadvisor
    .{$fa-css-prefix}-tripadvisor:before
      content: $fa-var-tripadvisor

if $icon-odnoklassniki
    .{$fa-css-prefix}-odnoklassniki:before
      content: $fa-var-odnoklassniki

if $icon-odnoklassniki-square
    .{$fa-css-prefix}-odnoklassniki-square:before
      content: $fa-var-odnoklassniki-square

if $icon-get-pocket
    .{$fa-css-prefix}-get-pocket:before
      content: $fa-var-get-pocket

if $icon-wikipedia-w
    .{$fa-css-prefix}-wikipedia-w:before
      content: $fa-var-wikipedia-w

if $icon-safari
    .{$fa-css-prefix}-safari:before
      content: $fa-var-safari

if $icon-chrome
    .{$fa-css-prefix}-chrome:before
      content: $fa-var-chrome

if $icon-firefox
    .{$fa-css-prefix}-firefox:before
      content: $fa-var-firefox

if $icon-opera
    .{$fa-css-prefix}-opera:before
      content: $fa-var-opera

if $icon-internet-explorer
    .{$fa-css-prefix}-internet-explorer:before
      content: $fa-var-internet-explorer

if $icon-television or $icon-tv
    .{$fa-css-prefix}-tv:before
      content: $fa-var-television

if $icon-contao
    .{$fa-css-prefix}-contao:before
      content: $fa-var-contao

if $icon-500px
    .{$fa-css-prefix}-500px:before
      content: $fa-var-500px

if $icon-amazon
    .{$fa-css-prefix}-amazon:before
      content: $fa-var-amazon

if $icon-calendar-plus-o
    .{$fa-css-prefix}-calendar-plus-o:before
      content: $fa-var-calendar-plus-o

if $icon-calendar-minus-o
    .{$fa-css-prefix}-calendar-minus-o:before
      content: $fa-var-calendar-minus-o

if $icon-calendar-times-o
    .{$fa-css-prefix}-calendar-times-o:before
      content: $fa-var-calendar-times-o

if $icon-calendar-check-o
    .{$fa-css-prefix}-calendar-check-o:before
      content: $fa-var-calendar-check-o

if $icon-industry
    .{$fa-css-prefix}-industry:before
      content: $fa-var-industry

if $icon-map-pin
    .{$fa-css-prefix}-map-pin:before
      content: $fa-var-map-pin

if $icon-map-signs
    .{$fa-css-prefix}-map-signs:before
      content: $fa-var-map-signs

if $icon-map-o
    .{$fa-css-prefix}-map-o:before
      content: $fa-var-map-o

if $icon-map
    .{$fa-css-prefix}-map:before
      content: $fa-var-map

if $icon-commenting
    .{$fa-css-prefix}-commenting:before
      content: $fa-var-commenting

if $icon-commenting-o
    .{$fa-css-prefix}-commenting-o:before
      content: $fa-var-commenting-o

if $icon-houzz
    .{$fa-css-prefix}-houzz:before
      content: $fa-var-houzz

if $icon-vimeo
    .{$fa-css-prefix}-vimeo:before
      content: $fa-var-vimeo

if $icon-black-tie
    .{$fa-css-prefix}-black-tie:before
      content: $fa-var-black-tie

if $icon-fonticons
    .{$fa-css-prefix}-fonticons:before
      content: $fa-var-fonticons

if $icon-reddit-alien
    .{$fa-css-prefix}-reddit-alien:before
      content: $fa-var-reddit-alien

if $icon-edge
    .{$fa-css-prefix}-edge:before
      content: $fa-var-edge

if $icon-credit-card-alt
    .{$fa-css-prefix}-credit-card-alt:before
      content: $fa-var-credit-card-alt

if $icon-codiepie
    .{$fa-css-prefix}-codiepie:before
      content: $fa-var-codiepie

if $icon-modx
    .{$fa-css-prefix}-modx:before
      content: $fa-var-modx

if $icon-fort-awesome
    .{$fa-css-prefix}-fort-awesome:before
      content: $fa-var-fort-awesome

if $icon-usb
    .{$fa-css-prefix}-usb:before
      content: $fa-var-usb

if $icon-product-hunt
    .{$fa-css-prefix}-product-hunt:before
      content: $fa-var-product-hunt

if $icon-mixcloud
    .{$fa-css-prefix}-mixcloud:before
      content: $fa-var-mixcloud

if $icon-scribd
    .{$fa-css-prefix}-scribd:before
      content: $fa-var-scribd

if $icon-pause-circle
    .{$fa-css-prefix}-pause-circle:before
      content: $fa-var-pause-circle

if $icon-pause-circle-o
    .{$fa-css-prefix}-pause-circle-o:before
      content: $fa-var-pause-circle-o

if $icon-stop-circle
    .{$fa-css-prefix}-stop-circle:before
      content: $fa-var-stop-circle

if $icon-stop-circle-o
    .{$fa-css-prefix}-stop-circle-o:before
      content: $fa-var-stop-circle-o

if $icon-shopping-bag
    .{$fa-css-prefix}-shopping-bag:before
      content: $fa-var-shopping-bag

if $icon-shopping-basket
    .{$fa-css-prefix}-shopping-basket:before
      content: $fa-var-shopping-basket

if $icon-hashtag
    .{$fa-css-prefix}-hashtag:before
      content: $fa-var-hashtag

if $icon-bluetooth
    .{$fa-css-prefix}-bluetooth:before
      content: $fa-var-bluetooth

if $icon-bluetooth-b
    .{$fa-css-prefix}-bluetooth-b:before
      content: $fa-var-bluetooth-b

if $icon-percent
    .{$fa-css-prefix}-percent:before
      content: $fa-var-percent

if $icon-gitlab
    .{$fa-css-prefix}-gitlab:before
      content: $fa-var-gitlab

if $icon-wpbeginner
    .{$fa-css-prefix}-wpbeginner:before
      content: $fa-var-wpbeginner

if $icon-wpforms
    .{$fa-css-prefix}-wpforms:before
      content: $fa-var-wpforms

if $icon-envira
    .{$fa-css-prefix}-envira:before
      content: $fa-var-envira

if $icon-universal-access
    .{$fa-css-prefix}-universal-access:before
      content: $fa-var-universal-access

if $icon-wheelchair-alt
    .{$fa-css-prefix}-wheelchair-alt:before
      content: $fa-var-wheelchair-alt

if $icon-question-circle-o
    .{$fa-css-prefix}-question-circle-o:before
      content: $fa-var-question-circle-o

if $icon-blind
    .{$fa-css-prefix}-blind:before
      content: $fa-var-blind

if $icon-audio-description
    .{$fa-css-prefix}-audio-description:before
      content: $fa-var-audio-description

if $icon-volume-control-phone
    .{$fa-css-prefix}-volume-control-phone:before
      content: $fa-var-volume-control-phone

if $icon-braille
    .{$fa-css-prefix}-braille:before
      content: $fa-var-braille

if $icon-assistive-listening-systems
    .{$fa-css-prefix}-assistive-listening-systems:before
      content: $fa-var-assistive-listening-systems

if $icon-american-sign-language-interpreting or $icon-asl-interpreting
    .{$fa-css-prefix}-asl-interpreting:before
      content: $fa-var-american-sign-language-interpreting

if $icon-deaf or $icon-deafness
    .{$fa-css-prefix}-deafness:before
      content: $fa-var-deaf

if $icon-glide
    .{$fa-css-prefix}-glide:before
      content: $fa-var-glide

if $icon-glide-g
    .{$fa-css-prefix}-glide-g:before
      content: $fa-var-glide-g

if $icon-sign-language
    .{$fa-css-prefix}-signing:before
      content: $fa-var-sign-language

if $icon-low-vision
    .{$fa-css-prefix}-low-vision:before
      content: $fa-var-low-vision

if $icon-viadeo
    .{$fa-css-prefix}-viadeo:before
      content: $fa-var-viadeo

if $icon-viadeo-square
    .{$fa-css-prefix}-viadeo-square:before
      content: $fa-var-viadeo-square

if $icon-snapchat
    .{$fa-css-prefix}-snapchat:before
      content: $fa-var-snapchat

if $icon-snapchat-ghost
    .{$fa-css-prefix}-snapchat-ghost:before
      content: $fa-var-snapchat-ghost

if $icon-snapchat-square
    .{$fa-css-prefix}-snapchat-square:before
      content: $fa-var-snapchat-square

if $icon-pied-piper
    .{$fa-css-prefix}-pied-piper:before
      content: $fa-var-pied-piper

if $icon-first-order
    .{$fa-css-prefix}-first-order:before
      content: $fa-var-first-order

if $icon-yoast
    .{$fa-css-prefix}-yoast:before
      content: $fa-var-yoast

if $icon-themeisle
    .{$fa-css-prefix}-themeisle:before
      content: $fa-var-themeisle

if $icon-google-plus-official
    .{$fa-css-prefix}-google-plus-circle:before
      content: $fa-var-google-plus-official

if $icon-font-awesome or $icon-fa
    .{$fa-css-prefix}-fa:before
      content: $fa-var-font-awesome

if $icon-handshake-o
    .{$fa-css-prefix}-handshake-o:before
      content: $fa-var-handshake-o

if $icon-envelope-open
    .{$fa-css-prefix}-envelope-open:before
      content: $fa-var-envelope-open

if $icon-envelope-open-o
    .{$fa-css-prefix}-envelope-open-o:before
      content: $fa-var-envelope-open-o

if $icon-linode
    .{$fa-css-prefix}-linode:before
      content: $fa-var-linode

if $icon-address-book
    .{$fa-css-prefix}-address-book:before
      content: $fa-var-address-book

if $icon-address-book-o
    .{$fa-css-prefix}-address-book-o:before
      content: $fa-var-address-book-o

if $icon-address-card or $icon-vcard
    .{$fa-css-prefix}-vcard:before
      content: $fa-var-address-card

if $icon-address-card-o or $icon-vcard-o
    .{$fa-css-prefix}-vcard-o:before
      content: $fa-var-address-card-o

if $icon-user-circle
    .{$fa-css-prefix}-user-circle:before
      content: $fa-var-user-circle

if $icon-user-circle-o
    .{$fa-css-prefix}-user-circle-o:before
      content: $fa-var-user-circle-o

if $icon-user-o
    .{$fa-css-prefix}-user-o:before
      content: $fa-var-user-o

if $icon-id-badge
    .{$fa-css-prefix}-id-badge:before
      content: $fa-var-id-badge

if $icon-id-card or $icon-drivers-license
    .{$fa-css-prefix}-drivers-license:before
      content: $fa-var-id-card

if $icon-id-card-o or $icon-drivers-license-o
    .{$fa-css-prefix}-drivers-license-o:before
      content: $fa-var-id-card-o

if $icon-quora
    .{$fa-css-prefix}-quora:before
      content: $fa-var-quora

if $icon-free-code-camp
    .{$fa-css-prefix}-free-code-camp:before
      content: $fa-var-free-code-camp

if $icon-telegram
    .{$fa-css-prefix}-telegram:before
      content: $fa-var-telegram

if $icon-thermometer-full or $icon-thermometer-4
    .{$fa-css-prefix}-thermometer-4:before
      content: $fa-var-thermometer-full

if $icon-thermometer-three-quarters or $icon-thermometer-3
    .{$fa-css-prefix}-thermometer-3:before
      content: $fa-var-thermometer-three-quarters

if $icon-thermometer-half or $icon-thermometer-2
    .{$fa-css-prefix}-thermometer-2:before
      content: $fa-var-thermometer-half

if $icon-thermometer-quarter or $icon-thermometer-1
    .{$fa-css-prefix}-thermometer-1:before
      content: $fa-var-thermometer-quarter

if $icon-thermometer-empty or $icon-thermometer-0
    .{$fa-css-prefix}-thermometer-0:before
      content: $fa-var-thermometer-empty

if $icon-shower
    .{$fa-css-prefix}-shower:before
      content: $fa-var-shower

if $icon-bath or $icon-bathtub
    .{$fa-css-prefix}-bathtub:before
      content: $fa-var-bath

if $icon-podcast
    .{$fa-css-prefix}-podcast:before
      content: $fa-var-podcast

if $icon-window-maximize
    .{$fa-css-prefix}-window-maximize:before
      content: $fa-var-window-maximize

if $icon-window-minimize
    .{$fa-css-prefix}-window-minimize:before
      content: $fa-var-window-minimize

if $icon-window-restore
    .{$fa-css-prefix}-window-restore:before
      content: $fa-var-window-restore

if $icon-window-close or $icon-times-rectangle
    .{$fa-css-prefix}-times-rectangle:before
      content: $fa-var-window-close

if $icon-window-close-o or $icon-times-rectangle-o
    .{$fa-css-prefix}-times-rectangle-o:before
      content: $fa-var-window-close-o

if $icon-bandcamp
    .{$fa-css-prefix}-bandcamp:before
      content: $fa-var-bandcamp

if $icon-grav
    .{$fa-css-prefix}-grav:before
      content: $fa-var-grav

if $icon-etsy
    .{$fa-css-prefix}-etsy:before
      content: $fa-var-etsy

if $icon-imdb
    .{$fa-css-prefix}-imdb:before
      content: $fa-var-imdb

if $icon-ravelry
    .{$fa-css-prefix}-ravelry:before
      content: $fa-var-ravelry

if $icon-eercast
    .{$fa-css-prefix}-eercast:before
      content: $fa-var-eercast

if $icon-microchip
    .{$fa-css-prefix}-microchip:before
      content: $fa-var-microchip

if $icon-snowflake-o
    .{$fa-css-prefix}-snowflake-o:before
      content: $fa-var-snowflake-o

if $icon-superpowers
    .{$fa-css-prefix}-superpowers:before
      content: $fa-var-superpowers

if $icon-wpexplorer
    .{$fa-css-prefix}-wpexplorer:before
      content: $fa-var-wpexplorer

if $icon-meetup
    .{$fa-css-prefix}-meetup:before
      content: $fa-var-meetup
